.profile{
    max-width: 1000px;
    margin: 0px auto;
}
.profile-img{
   
    width:270px;
    height: 270px;
    border-radius: 270px;
}
.profile-display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    max-width: 100%;
    border-bottom: 1px solid black;
}
.profile-display h3{
    font-size: 3.5rem;
    font-weight: 900;
}
.profile-display h4{
    font-size: 2.5rem;
    font-weight: 600;
}
.profile-content{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 107%;
    font-size:4rem;
}
.profile-content h5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0vw;
    margin:1vw ;
    font-size: 3rem;
}
.gallery{
  
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    width: 100%;
    height: auto;
    
    
}
.item{
width :300px;
height: 200px !important;
margin: 1%;
border-radius: 5px;
box-shadow: 1px 1px 1px 1px black;
}
@media only screen and (max-width:700px) {

    .gallery{
    display: flex;
    flex-wrap: wrap;
    max-width:100%;
    justify-content: space-around;
    width: 100%;
    height: auto;
}
.profile-content h5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0vw;
    margin:1vw ;
    font-size: 1.9rem;
    margin-left:30px ;
}
.profile-display h3{
    font-size: 2.5rem;
    font-weight: 900;
    margin-left:30px ;
}
.profile-display h4{
    font-size: 2rem;
    font-weight: 600;
    display: none;
}
.profile-img{
   
    width:150px;
    height: 150px;
    border-radius: 150px;
}
}